.l-{
    &aside {
        padding: 15px;
        &--main {
            @media only screen and (min-width: 767px) {
                max-width: 30%;
            }
            float: left;
        }
    }
}
