<div class="l-aside l-aside--main">
    <aside class="o-aside">
        <ul class="c-aside-list">
            <li class="c-aside-list-item">Donec viverra arcu libero</li>
            <li class="c-aside-list-item">In semper facilisis mauris</li>
            <li class="c-aside-list-item">Donec ac lectus sapien</li>
            <li class="c-aside-list-item">Suspendisse sem erat</li>
            <li class="c-aside-list-item">Curabitur ut commodo lacus</li>
        </ul>
    </aside>
</div>
