<div id="aside" class="l-aside l-aside--main">
    <aside class="o-aside">
        <ul class="c-aside-list">
            <li class="c-aside-list-item"><a href="#">Donec viverra arcu libero</a></li>
            <li class="c-aside-list-item"><a href="#">In semper facilisis mauris</a></li>
            <li class="c-aside-list-item"><a href="#">Donec ac lectus sapien</a></li>
            <li class="c-aside-list-item"><a href="#">Suspendisse sem erat</a></li>
            <li class="c-aside-list-item"><a href="#">Curabitur ut commodo lacus</a></li>
        </ul>
    </aside>
</div>
