<section class="o-header">
    <header class="c-header">
        <ul class="o-header-list">
            <li class="o-header-list-item"><a href="/">Home</a></li>
            <li class="o-header-list-item"><a href="/about">About</a></li>
            <li class="o-header-list-item"><a href="/blog">Blog</a></li>
            <li id="sidebar" class="o-header-list-item"><a href="#">Sidebar</a></li>
        </ul>
    </header>
</section>
