<div class="l-content l-content--main">
    {{#each pages}}
        <div class="o-content-page o-content-page--third">
            <div class="c-content-page-image">
                <a href="#">
                    <img src="/images/{{image}}" alt="{{title}}">
                </a>
            </div>
            <h3 class="c-content-page-title">
                <a href="#">{{title}}</a>
            </h3>
            <p class="c-content-page-content">{{content}}</p>
        </div>
    {{/each}}
</div>
