<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Krishan Veerappa - Mad Guerrilla Ltd.">
    <meta name="HandheldFriendly" content="True" />
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <title>Valtech UI Test - Krishan Veerappa</title>

</head>

<body>
    {{> partials/header}}
    <main role="main">
        {{> partials/index}}    
        {{> partials/aside}}
    </main>
    {{> partials/footer}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="/test.js"></script>
</body>

</html>
