<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Krishan Veerappa - Mad Guerrilla Ltd.">
    <meta name="HandheldFriendly" content="True" />
    <link rel="stylesheet" type="text/css" href="/css/test.css">
    <title>Valtech UI Test - Krishan Veerappa</title>

</head>

<body>
    {{> partials/header}}
    <main role="main">
        <div class="l-content l-content--main">
            <h1>Etiam porta nisl nec sodales laoreet</h1>
            <p>Donec viverra arcu libero, vitae egestas nisi aliquet quis. Suspendisse sed facilisis est, ut aliquam nisi. Vestibulum elementum, quam vel suscipit vestibulum, libero orci vehicula tortor, et sodales eros ex porta velit. Nulla a ante neque.
                Donec ac lectus sapien. Quisque lectus sapien, imperdiet ut semper nec, pretium ac ante. Suspendisse potenti. Etiam facilisis velit sit amet lacus porta dictum. Proin malesuada lectus nec commodo tempor. Vivamus consectetur sodales nunc
                id mattis. In ac lectus eu ipsum auctor tincidunt. Nunc aliquam egestas nisi, vel sollicitudin augue fermentum sit amet. In tincidunt tortor neque, eu sodales sapien tincidunt in.</p>
            <h2>Vestibulum auctor ultrices nibh ac interdum</h2>
            <p>Donec gravida maximus ultricies. Nam ac dolor non ante egestas sagittis. Phasellus et ligula lacus. Integer commodo, nibh sit amet mollis gravida, sapien nibh bibendum metus, eu suscipit nisl diam sit amet orci. Fusce id dapibus metus. Curabitur
                congue dui id nisl scelerisque ullamcorper. Donec mattis sit amet lacus id volutpat. Vestibulum vel efficitur lorem. Ut euismod sem quis odio mollis convallis.</p>
            <p>In semper facilisis mauris, ac accumsan sem accumsan et. Etiam eleifend finibus elit, in convallis dui auctor et. Vestibulum facilisis eros a aliquet viverra. Ut nisi dolor, vestibulum non tellus sit amet, ornare elementum augue. Ut nulla
                metus, sodales molestie lorem nec, tempus lobortis nunc. Mauris lacinia viverra iaculis. Sed tempor ante et malesuada malesuada. Mauris quam dui, vehicula quis iaculis nec, ultrices eu tortor.</p>
        </div>
        {{> partials/aside}}    
    </main>
    {{> partials/footer}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="/test.js"></script>
</body>

</html>
